ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Client.sdf
Client.sln
CMakeFiles
Client.sln
Client.vcxproj
Client.vcxproj.filters
Client_automoc.cpp
cmake_install.cmake
Win32
Debug
CMakeFiles
Client.dir
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj
moc_mainwindow.cpp
Client.opensdf